/* seletor :nth-child */

li:nth-child(2){
    color: #f00;
}

li:nth-child(2n){
    color: #00f;
}

li:hover{
    background-color: gray;
}

/* ::before e ::after */

li::before{
    content: " (antes) ";
}

li::after{
    content: " (depois) ";
}